.col3.player
  .container
    .user.col3
      %img{:src=>"http://middlesexcountycf.org/wp-content/uploads/2012/10/icon_cash.png"}
      %h2.name Your Cash!
    .score.col3
      %h2 0
      = partial :score_buttons